target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/.gradle/6.8/javaCompile/classAnalysis.bin
/.gradle/7.0.2/dependencies-accessors/dependencies-accessors.lock
/.gradle/6.8/executionHistory/executionHistory.bin
/.gradle/6.8/executionHistory/executionHistory.lock
/.gradle/6.8/fileHashes/fileHashes.bin
/.gradle/6.8/fileHashes/fileHashes.lock
/.gradle/7.0.2/fileHashes/fileHashes.lock
/.gradle/6.8/gc.properties
/.gradle/7.0.2/dependencies-accessors/gc.properties
/.gradle/7.0.2/gc.properties
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/.gradle/6.8/javaCompile/javaCompile.lock
/.gradle/6.8/fileChanges/last-build.bin
/.gradle/7.0.2/fileChanges/last-build.bin
/.gradle/checksums/md5-checksums.bin
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/checksums/sha1-checksums.bin
/.gradle/6.8/javaCompile/taskHistory.bin
